/* Se inicializan los estilos generales de todas las paginas */
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: helvetica;
}

header{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: transparent;
	-webkit-transition: background-color .5s;
}

    nav{
        display: table;
        margin: auto;
        margin-top: 15px;
        height: 40px;
        -webkit-transition: margin-left .5s;
    }

    ul{
        display: block;
        float: left;
        list-style: none;
    }

    ul li{
        float: left;
        margin: 10px;
        padding: 2px;
        border-bottom: 1px solid #fff;
    }
    ul li#cerrar{
        border: none;
    }

    ul li i{
        padding-right: 10px;
    }

    ul a{
        color: #F3F3F3;
        text-decoration: none;
    }
    ul a:hover{
        color: #fbb803;
    }

    img#logo{
        float:left;
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 150px;
        -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
    }
    nav img{
        float: left;
        width: 45px;
        height: 45px;
    }

    nav h1#logo{
        float:left;
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 150px;
        color: #fff;
    }

section#banner{
	width: 100%;
    background-image: url(../img/background1.jpg);
    background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

    section#banner h1{
        padding-top: 300px;
        color: #fbb803;
        font-size: 4em;
        margin-top: 0;
    }

    section#banner h2{
        color: #fff;
        font-size: 3em;
    }
    section#contacto{
        height: 450px;
        background: #5a5959;
    }
        section#contacto h2{
            font-size: 2em;
            color: #fbb803;
            padding: 80px 0px 20px 60px;
        }
        section#contacto #datos{
            float: left;
            padding-left: 60px;
            width: 600px;
            padding-right: 40px;
        }
        section#contacto #info{
            width: 390px;
        }
            section#contacto #datos p{
                color: #fff;
                line-height: 30px;
                font-size: 0.8em;
            }
            section#contacto #datos p#cont{
                font-size: 1.2em;
            }
            section#contacto #datos i{
                color: #fbb803;
                padding-right: 10px;
            }
            section#contacto #datos a{
                color: #fff;
                
            }
        section#contacto #social{
            float: left;
            width: 200px;
            padding-right: 20px;
        }
            section#contacto #social p{
                color: #fff;
                font-size: 1.2em;
            }
            section#contacto #social i{
                color: #fbb803;
                font-size: 2em;
                display: block;
                padding: 5px 10px;
            }
        section#contacto #logo{
            float: left;
            width: 200px;
        }
            section#contacto #logo img{
                width: 100px;
                height: 150px;
                float: right;
            }

footer{
	height: 50px;
}
	footer #copy{
		width: 100%;
		background: #d3d3d3;
		height: 50px;
		text-align: center;
		padding-top: 30px;
	}
		footer #copy i{
			padding-right: 10px;
		}
/* Se finalizan los estilos generales de todas las paginas */
/* Se inicializan los estilos del log in*/
main{
    height: 600px;
}
    main h2{
		font-size: 1.8em;
		color: #fbb803;
        padding-bottom: 10px;
        padding: 100px 0px 60px 60px;
        font-weight: bold;
	}
	main form{
		height: 100px;
		width: 70%;
		margin: 20px 0px 20px 100px;
		padding: 50px 0px 0px 50px;
	}
	main form input{
		margin-right: 20px;
		width: 200px;
		height: 20px;
		border-radius: 30px;
		border: 1px solid #5a5959;
	}
	main form label{
		margin-right: 20px;
	}
	main div{
		height: 100px;
		width: 70%;
		margin: 20px 0px 20px 100px;
		/* padding: 50px 0px 0px 50px; */
	}
		main div button{
            border: 1px solid #fbb803;
            background: #fbb803;
            color: #000;
            padding: 10px 20px;
            border-radius: 15px;
        }
        main div button:hover{
            border: 1px solid #686868;
            background: #686868;
            color: #ffffff;
        }
/* Se finalizan los estilos del log in*/